In [1]:
### 6.5.2 Create Heatmaps for Weather Parameters

# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Clyde River,1,CA,2021-05-29 00:56:12,93,70.4692,-68.5914,32.23,4.61
1,1,Nioro,2,GM,2021-05-29 00:56:12,39,13.3500,-15.7500,79.70,7.54
2,2,Lithakia,36,GR,2021-05-29 00:56:12,74,37.7167,20.8333,65.32,11.12
3,3,Mataura,100,NZ,2021-05-29 00:56:12,95,-46.1927,168.8643,49.48,3.94
4,4,Kirakira,100,SB,2021-05-29 00:56:13,82,-10.4544,161.9205,79.36,8.12

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Cloudiness      int64
Country        object
Date           object
Humidity        int64
Lat           float64
Lng           float64
Max Temp      float64
Wind Speed    float64
dtype: object

In [4]:
## Create a Maximum Temperature Heatmap

# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Google heatmaps do not plot negative numbers. 
# To remove the negative temperatures we can use a for loop to iterate through the max_temp and add the temperatures that are greater than 0 °F to a new list.

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=temps) *** we want to replace for loop with list comprehension
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# This map is too large. We will need to make some adjustments to the gmaps.figure() attribute.

## Adjust Heatmap Zoom, Intensity, and Point Radius

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=temps) *** we want to replace for loop with list comprehension
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# increase options for dissipation to make zoom circles better

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=temps) *** we want to replace for loop with list comprehension
# you may notice there is a dissipation option for creating heatmaps that can be added
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
## Create a Percent Humidity Heatmap

# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
## Create a Percent Cloudiness Heatmap

# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
## Create a Wind Speed Heatmap

# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
### 6.5.3 - Get Vacation Criteria 

# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
                                       
preferred_cities_df.head(10)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
1,1,Nioro,2,GM,2021-05-29 00:56:12,39,13.3500,-15.7500,79.70,7.54
4,4,Kirakira,100,SB,2021-05-29 00:56:13,82,-10.4544,161.9205,79.36,8.12
8,8,Olinda,75,BR,2021-05-29 00:56:14,73,-8.0089,-34.8553,76.73,13.51
10,10,Vaini,40,TO,2021-05-29 00:56:14,73,-21.2000,-175.2000,78.96,6.91
17,17,Kahului,37,US,2021-05-29 00:54:16,70,20.8947,-156.4700,81.66,9.93
19,19,Rikitea,60,PF,2021-05-29 00:56:17,74,-23.1203,-134.9692,76.57,20.83
21,21,Butaritari,100,KI,2021-05-29 00:56:18,80,3.0707,172.7902,82.49,15.61
28,28,North Myrtle Beach,54,US,2021-05-29 00:56:19,86,33.8160,-78.6800,81.25,1.99
32,32,Sur,81,OM,2021-05-29 00:53:10,43,22.5667,59.5289,86.88,4.41
37,37,Atuona,10,PF,2021-05-29 00:56:22,73,-9.8000,-139.0333,78.96,14.25

In [14]:
# Find any Null Values

preferred_cities_df.count()

City_ID       177
City          177
Cloudiness    177
Country       177
Date          177
Humidity      177
Lat           177
Lng           177
Max Temp      177
Wind Speed    177
dtype: int64

In [15]:
### 6.5.4 - Map Vacation Criteria 

## Get Travel Desinations

# Make a copy of the preferred_cities_df DataFrame and name it hotel_df. 
# For the hotel_df, keep the columns "City," "Country," "Max Temp," "Lat," and "Lng."

# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                  City Country  Max Temp      Lat       Lng Hotel Name
1                Nioro      GM     79.70  13.3500  -15.7500
4             Kirakira      SB     79.36 -10.4544  161.9205
8               Olinda      BR     76.73  -8.0089  -34.8553
10               Vaini      TO     78.96 -21.2000 -175.2000
17             Kahului      US     81.66  20.8947 -156.4700
19             Rikitea      PF     76.57 -23.1203 -134.9692
21          Butaritari      KI     82.49   3.0707  172.7902
28  North Myrtle Beach      US     81.25  33.8160  -78.6800
32                 Sur      OM     86.88  22.5667   59.5289
37              Atuona      PF     78.96  -9.8000 -139.0333

In [16]:
### 6.5.4 - Map Vacation Criteria

## Iterate Through hotel_df DataFrame

params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Nioro,GM,79.70,13.3500,-15.7500,
4,Kirakira,SB,79.36,-10.4544,161.9205,SanBiz Lodge
8,Olinda,BR,76.73,-8.0089,-34.8553,Hotel Albergue de Olinda
10,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
17,Kahului,US,81.66,20.8947,-156.4700,Maui Seaside Hotel
19,Rikitea,PF,76.57,-23.1203,-134.9692,Pension Maro'i
21,Butaritari,KI,82.49,3.0707,172.7902,Isles Sunset Lodge
28,North Myrtle Beach,US,81.25,33.8160,-78.6800,Avista Resort
32,Sur,OM,86.88,22.5667,59.5289,Sur Plaza Hotel
37,Atuona,PF,78.96,-9.8000,-139.0333,Villa Enata

In [18]:
## Create a Maximum Temperature Heatmap from a Hotel DataFrame

# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Add markers for each city

# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# add a pop-up marker for each city that displays the hotel name, city name, country, and maximum temperature

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))