## Deliverable 2. Create a Customer Travel Destinations Map.

In [6]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [8]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Kavieng,PG,-2.5744,150.7967,80.76,81,100,9.53,moderate rain
1,1,Jalu,LY,29.0331,21.5482,89.11,18,0,12.91,clear sky
2,2,Diu,IN,20.7141,70.9822,82.08,80,7,11.97,clear sky
3,3,Arraial Do Cabo,BR,-22.9661,-42.0278,78.76,83,75,8.05,broken clouds
4,4,Bethel,US,41.3712,-73.4140,50.49,90,90,1.99,moderate rain

In [9]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 95

In [10]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
                                       
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Kavieng,PG,-2.5744,150.7967,80.76,81,100,9.53,moderate rain
1,1,Jalu,LY,29.0331,21.5482,89.11,18,0,12.91,clear sky
2,2,Diu,IN,20.7141,70.9822,82.08,80,7,11.97,clear sky
3,3,Arraial Do Cabo,BR,-22.9661,-42.0278,78.76,83,75,8.05,broken clouds
6,6,The Valley,AI,18.2170,-63.0578,87.66,65,75,16.11,broken clouds
8,8,Komsomolskiy,UZ,40.4272,71.7189,79.52,25,91,2.30,overcast clouds
9,9,Rikitea,PF,-23.1203,-134.9692,75.36,71,96,12.35,overcast clouds
13,13,Kapaa,US,22.0752,-159.3190,83.48,62,1,1.01,clear sky
14,14,Conceicao Do Araguaia,BR,-8.2578,-49.2647,93.33,36,0,3.33,clear sky
15,15,Sao Filipe,CV,14.8961,-24.4956,74.26,74,72,16.71,broken clouds

In [12]:
#change column name Description to Current Description
preferred_cities_df = preferred_cities_df.rename(columns={'Description': 'Current Description'})

In [13]:
# 4a. Determine if there are any empty rows.

preferred_cities_df.count()

City_ID                295
City                   295
Country                295
Lat                    295
Lng                    295
Max Temp               295
Humidity               295
Cloudiness             295
Wind Speed             295
Current Description    295
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

# no rows need to be dropped

In [14]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kavieng,PG,80.76,moderate rain,-2.5744,150.7967,
1,Jalu,LY,89.11,clear sky,29.0331,21.5482,
2,Diu,IN,82.08,clear sky,20.7141,70.9822,
3,Arraial Do Cabo,BR,78.76,broken clouds,-22.9661,-42.0278,
6,The Valley,AI,87.66,broken clouds,18.2170,-63.0578,
8,Komsomolskiy,UZ,79.52,overcast clouds,40.4272,71.7189,
9,Rikitea,PF,75.36,overcast clouds,-23.1203,-134.9692,
13,Kapaa,US,83.48,clear sky,22.0752,-159.3190,
14,Conceicao Do Araguaia,BR,93.33,clear sky,-8.2578,-49.2647,
15,Sao Filipe,CV,74.26,broken clouds,14.8961,-24.4956,

In [22]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# # 6b. Iterate through the hotel DataFrame.
for index, hotel in hotel_df.iterrows():
    
     # 6c. Get latitude and longitude from DataFrame
    
    lat = hotel["Lat"]
    lng = hotel["Lng"]
    params["location"]= f'{lat},{lng}'
    
     # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    
    hotels = requests.get(base_url, params=params).json()
    
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.count()

City                   295
Country                295
Max Temp               295
Current Description    295
Lat                    295
Lng                    295
Hotel Name             295
dtype: int64

In [25]:
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kavieng,PG,80.76,moderate rain,-2.5744,150.7967,Nusa Island Retreat
1,Jalu,LY,89.11,clear sky,29.0331,21.5482,صاحبة الفخامة
2,Diu,IN,82.08,clear sky,20.7141,70.9822,Hotel Relax Inn
3,Arraial Do Cabo,BR,78.76,broken clouds,-22.9661,-42.0278,Pousada Porto Praia
6,The Valley,AI,87.66,broken clouds,18.2170,-63.0578,CeBlue Villas & Beach Resort
...,...,...,...,...,...,...,...
664,Sarakhs,IR,87.94,clear sky,36.5449,61.1577,مهمان سرای شرکت گاز
665,Catemaco,MX,87.33,overcast clouds,18.4167,-95.1167,Hotel Playa Cristal
675,Flagstaff,US,80.26,few clouds,35.1981,-111.6513,Drury Inn & Suites Flagstaff
677,Mezcala,MX,89.15,overcast clouds,20.9333,-102.7500,Rancho de Rafail Martín
678,Itarema,BR,80.01,clear sky,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"

In [26]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [27]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [28]:
# 11a. Add a marker layer for each city to the map. 

locations = clean_hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))