## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Kavieng,PG,80.76,moderate rain,-2.5744,150.7967,Nusa Island Retreat
1,1,Jalu,LY,89.11,clear sky,29.0331,21.5482,صاحبة الفخامة
2,2,Diu,IN,82.08,clear sky,20.7141,70.9822,Hotel Relax Inn
3,3,Arraial Do Cabo,BR,78.76,broken clouds,-22.9661,-42.0278,Pousada Porto Praia
4,6,The Valley,AI,87.66,broken clouds,18.2170,-63.0578,CeBlue Villas & Beach Resort

In [4]:
vacation_dropna_df = vacation_df.dropna()
vacation_dropna_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Kavieng,PG,80.76,moderate rain,-2.5744,150.7967,Nusa Island Retreat
1,1,Jalu,LY,89.11,clear sky,29.0331,21.5482,صاحبة الفخامة
2,2,Diu,IN,82.08,clear sky,20.7141,70.9822,Hotel Relax Inn
3,3,Arraial Do Cabo,BR,78.76,broken clouds,-22.9661,-42.0278,Pousada Porto Praia
4,6,The Valley,AI,87.66,broken clouds,18.2170,-63.0578,CeBlue Villas & Beach Resort

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_dropna_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_dropna_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.

locations = vacation_dropna_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)


# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_dropna_df.loc[vacation_dropna_df["City"] == 'Pensacola']
vacation_end = vacation_dropna_df.loc[vacation_dropna_df["City"] == 'Pensacola']
vacation_stop1 = vacation_dropna_df.loc[vacation_dropna_df["City"] == 'Huntsville']
vacation_stop2 = vacation_dropna_df.loc[vacation_dropna_df["City"] == 'Bolivar'] 
vacation_stop3 = vacation_dropna_df.loc[vacation_dropna_df["City"] == 'Elk City']

In [10]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[['Lat','Lng']].to_numpy()
end = vacation_end[['Lat','Lng']].to_numpy()
stop1 = vacation_stop1[['Lat','Lng']].to_numpy()
stop2 = vacation_stop2[['Lat','Lng']].to_numpy()
stop3 = vacation_stop3[['Lat','Lng']].to_numpy()

In [11]:
start = (vacation_start['Lat'].to_list()[0], vacation_start['Lng'].to_list()[0])
end = (vacation_end['Lat'].to_list()[0], vacation_end['Lng'].to_list()[0])
stop1 = (vacation_stop1['Lat'].to_list()[0], vacation_stop1['Lng'].to_list()[0])
stop2 = (vacation_stop2['Lat'].to_list()[0], vacation_stop2['Lng'].to_list()[0])
stop3 = (vacation_stop3['Lat'].to_list()[0], vacation_stop3['Lng'].to_list()[0])

In [13]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
south_bike_trip = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3],travel_mode='BICYCLING')
fig.add_layer(south_bike_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,153,Pensacola,US,87.39,clear sky,30.4213,-87.2169,Days Inn by Wyndham Pensacola - Historic Downtown
1,150,Huntsville,US,75.31,clear sky,34.7304,-86.5861,Embassy Suites by Hilton Huntsville Hotel & Spa
2,211,Bolivar,US,71.11,overcast clouds,37.6145,-93.4105,Comfort Inn Bolivar
3,583,Elk City,US,75.18,overcast clouds,35.4120,-99.4043,Hampton Inn & Suites Elk City

In [19]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [20]:
# 11a. Add a marker layer for each city to the map.

locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))